* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    padding: 20px;
    height: 60%;
    width: 60%;
    background-color: rgb(49, 47, 47);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    
}

input {
    padding: 10px 10px;
    outline: none;
    border: 2px solid gray;
    border-radius: 5px;
}

#add {
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: aqua;
    color: black;
    border: none;
    cursor: pointer;
}


.todo-list {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px; 

}



.li {
    display: flex;
    width: 100%;
    border: 1px solid rgb(6, 6, 6);

    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    
}

h3 {
    font-size: 15px;
    font-weight: 500;

}

.btn {
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
}

.edit {
    background-color: goldenrod;
    color: white;
}

.del {
    background-color: brown;
    color: white;
}