* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    color: white;
    padding: 20px;
    height: 60%;
    width: 80%;
    display: flex;
    gap: 20px;
    background-color: rgb(44, 41, 41);
    border-radius: 20px;
}

.box {
    height:40%;
    width: 30%;
    background-color: aquamarine;
}

