*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

main {
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    margin-bottom: 10px;
    padding: 20px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 71, 157);
    color: white;
    border-radius: 10px;

}


button {
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.products{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;

}

.product-card {
    padding: 10px;
    height: 65%;
    width: 25%;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    box-shadow: 3px 0px 20px rgb(210, 199, 199);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img {
    height: 60%;
    width: 100%;

}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#update {
    background-color: darkgoldenrod;
    color: white;
}

#del {
    background-color: darkred;
    color: white;
}

.form {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.636);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;


}

input {
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
}

.form .close-btn {
    display: flex;
    justify-content: space-between;
    width: 50%;
    color: rgba(0, 0, 0, 0.496);
    font-size: 20px;
    cursor: pointer;
}