* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}

.bulb {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 4px solid white;
    
}

button {
    padding: 10px 30px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border: none;

}

.lightup {
    background-color: yellow;
}